.align-items {
  .flex-container {
    align-items: flex-start;
    flex-wrap: wrap;
    width: 400px;
    height: 168px;
    .item {
      width: 100px;
    }
    &.case2 {
      align-items: flex-end;
    }
    &.case3 {
      align-items: center;
    }
    &.case4 {
      align-items: baseline;
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }
      .item:nth-child(2) {
        height: 90px;
      }
      .item:nth-child(3) {
        height: 50px;
      }
      .item:nth-child(4) {
        height: 130px;
      }
    }
    &.case5 {
      align-items: stretch;
    }
  }
}
