.example-popup {
  display: flex;
  flex-direction: column;
  border: 2px solid #607d8b;
  border-radius: 5px;
  width: 500px;
  header {
    background: #607d8b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    height: 40px;
    padding: 0px 20px;
    p {
      margin: 0;
    }
  }
  .content {
    flex: 1 1 auto;
    background: #fff;
    padding: 10px;
  }
  footer {
    padding: 10px 20px;
    border-top: 1px solid #607d8b;
    background: #fff;
    display: flex;
    justify-content: space-between;
    button {
      border-radius: 5px;
    }
  }
}
