.justify-content {
  .flex-container {
    justify-content: flex-start;
    flex-flow: row wrap;
    &.case2 {
      justify-content: flex-end;
    }
    &.case3 {
      justify-content: center;
    }
    &.case4 {
      justify-content: space-between;
    }
    &.case5 {
      justify-content: space-around;
    }
  }
}
